.flex{
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align_center{
  display: flex;
  align-items: center;
}
.space-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mt20{
  margin-top: 20px;
}
.ml20{
  margin-left: 20px;
}
.mr20{
  margin-right: 20px;
}
.mr10{
  margin-right: 10px;
}